.chat-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.me {
  align-self: flex-end;
  background-color: #d1f2eb;
  border-radius: 10px;
  margin: 4px 0;
  max-width: 75%;
}

.them {
  align-self: flex-start;
  background-color: #f8f9f9;
  border-radius: 10px;
  margin: 4px 0;
  max-width: 75%;
}

.bubble {
  padding: 8px 12px;
}

.chat-input {
  display: flex;
  padding: 12px;
  gap: 8px;
  align-items: center;
}
