<ion-content class="selesai-container">

  <!-- Header -->
  <div class="top-section">
    <h2>Perjalanan telah selesai</h2>
    <p class="subtitle">Terimakasih telah mengantar pelanggan sampai tujuan.</p>
  </div>

  <!-- Ringkasan Perjalanan -->
  <div class="section">
    <h3 class="section-title">Ringkasan Perjalanan</h3>
    <div class="section-line"></div>
    

    <div class="info-row">
      <ion-icon name="location-outline"></ion-icon>
      <p>Perum Karaba Indah blok R.48</p>
    </div>
    <div class="info-row">
      <ion-icon name="flag-outline"></ion-icon>
      <p>Universitas Buana Perjuangan Karawang</p>
    </div>
    <div class="info-row">
      <ion-icon name="time-outline"></ion-icon>
      <p>35 Menit . 5 Menit</p>
    </div>
    <div class="info-row">
      <ion-icon name="chatbubble-ellipses-outline" class="chat-icon" (click)="bukaChat()"></ion-icon>
    </div>
  </div>

  <!-- Metode Pembayaran -->
  <div class="section payment-section">
  <h3 class="payment-title">Metode Pembayaran</h3>
  <div class="section-line"></div>

  <div class="payment-detail">
    <div class="payment-row">
      <span>Total</span>
      <span class="amount">Rp. 24.000</span>
    </div>
    <div class="payment-row">
      <span>Metode Payment</span>
      <span class="method">Tunai</span>
    </div>
    <div class="payment-row">
      <span>Bukti Payment</span>
    </div>
    <img src="assets/img/bukti-payment.png" alt="Bukti Payment" class="bukti-img" />
  </div>
</div>


  <!-- Button -->
  <ion-button expand="block" class="home-button" (click)="goToHome()"> Back to home </ion-button>
</ion-content>
