<ion-header>
  <ion-toolbar class="chat-header">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="light">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="chat-container">
    <div class="chat-messages">
      <div *ngFor="let msg of messages"
           class="message"
           [ngClass]="msg.sender === role ? 'sent' : 'received'">
        {{ msg.message }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="chat-input">
  <ion-item lines="none">
    <ion-input [(ngModel)]="newMessage" placeholder="Ketik pesan..."></ion-input>
    <ion-button fill="clear" slot="end" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>