<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chat dengan Driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-content" scrollEvents="true">
  <div class="chat-container">
    <div *ngFor="let msg of chatMessages" [ngClass]="{'msg-user': msg.sender === 'user', 'msg-driver': msg.sender === 'driver'}" class="chat-bubble">
      <div class="text">{{ msg.text }}</div>
      <div class="timestamp">{{ msg.timestamp | date:'shortTime' }}</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input
        [(ngModel)]="messageInput"
        placeholder="Ketik pesan..."
        type="text"
        required
        class="chat-input"
      ></ion-input>
      <ion-button fill="clear" slot="end" (click)="kirimPesan()" [disabled]="!messageInput">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
