.custom-header {
  --background: #192559;
  --color: #ffffff;
  color: #fff;

  ion-title {
    color: #fff;
  }

  ion-back-button {
    color: #fff;
  }
}

.chat-content {
  --background: #f5f5f5;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat-bubble {
  max-width: 75%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 15px;
  word-wrap: break-word;
  position: relative;
  font-size: 15px;
}

.msg-user {
  align-self: flex-end;
  background-color: #dcf8c6;
  color: #000;
  border-top-right-radius: 0;
}

.msg-driver {
  align-self: flex-start;
  background-color: #ffffff;
  color: #000;
  border-top-left-radius: 0;
}

.timestamp {
  font-size: 10px;
  color: #777;
  margin-top: 5px;
  text-align: right;
}

.chat-input {
  --padding-start: 10px;
}

ion-footer {
  ion-toolbar {
    --background: #fff;
  }

  ion-input {
    flex: 1;
  }

  ion-button {
    margin-left: 6px;
  }
}
